body {
  font-family: "Kalam", cursive;
  font-size: 20px;
}

h1 {
  font-family: "Bilbo Swash Caps", cursive;
  margin: 7px 0;
  line-height: 46px;
}

h3 {
  color: rgb(5, 36, 12);
  text-transform: uppercase;
  margin: 7px 0;
  line-height: 30px;
}

header {
  box-shadow: 0 0 10px #3d580c;
  padding: 3px 12px;
  background-color: #3d580c;
  color: #fff;
}

h4 {
  color: rgb(5, 36, 12);
  margin: 3px 0;
  font-size: 0.82em;
  text-transform: uppercase;
  line-height: 30px;
}

ul {
  padding: 0;
  margin-top: 4px;
}

ul li {
  list-style: none;
  font-weight: bold;
  font-size: 1.3em;
  padding: 4px;
}

p {
  margin: 2px 0;
  font-size: 0.8em;
  color: #0e1f0b;
}

.product-li {
  border-radius: 7px;
  box-shadow: 1px 1px 3px #3d580c;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.product-img {
  width: 180px;
  height: 150px;
  border-radius: 7px;
}

.product-details {
  width: 54%;
}

.product-info {
  font-size: 0.56em;
}

main {
  min-height: 550px;
  display: flex;
  justify-content: flex;
  margin-top: 12px;
}

button {
  border: none;
  color: white;
  background-color: #3d580c;
  padding: 10px 20px;
  cursor: pointer;
}

button .disabled,
button:disabled,
button[disabled="true"] {
  cursor: not-allowed;
  pointer-events: none;
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}

.w50 {
  width: 30%;
  border: 3px solid white;
  box-shadow: 0 0 10px #3d580c;
  padding: 18px 17px;
}

#products {
  margin-right: 12px;
  padding: 18px 12px;
}

h3 {
  margin: 3px 0;
}

small {
  font-size: 0.7em;
  text-transform: lowercase;
}

.product-div {
  border: 1px solid lightgray;
  padding: 7px;
  margin-right: 7px;
}

label {
  align-self: center;
  font-size: 0.92em;
}

/* Full-width input fields */
input[type="text"],
input[type="number"],
input[type="email"],
select {
  min-height: 30px;
  width: 60%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  background: #f1f1f1;
}

select {
  min-height: 51px;
}

/* When the inputs get focus, do something */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
select:focus {
  background-color: #ddd;
  outline: none;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.form-group {
  margin: 12px auto;
}

.warn {
  color: red;
  font-size: 0.9em;
}

.err {
  display: block;
  color: #b51f1f;
  font-family: "Kalam", cursive;
  font-size: 0.7em;
  line-height: 19px;
  text-align: right;
  padding: 0px 0;
  margin: 0;
}

#submitCart {
  margin-top: 18px;
  display: flex;
  justify-content: center;
}

#submitCart button {
  height: auto;
  font-size: 16px;
  padding: 13px 40px;
}

.form-head {
  display: flex;
  justify-content: space-between;
}

.receipt-li {
  font-size: 0.9em;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  font-size: 0.87em;
  padding: 5px 18px;
  height: 40px;
}

table tr:nth-child(even) {
  background-color: #e6f1e4;
}

tfoot tr:last-child {
  font-weight: bold;
  font-size: 1.03em;
  color: #fff;
  background-color: #243308;
}

table tr:hover {
  background-color: #ddd;
}

tfoot tr:last-child:hover {
  background-color: #233109;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3d580c;
  color: white;
}

footer {
  background-color: #3d580c;
  color: #fff;
  margin-top: 12px;
  padding: 10px;
  text-align: center;
}
